{% extends 'agvoybase.html.twig' %}

{% block main %}
    <h1>Nos circuits</h1>
	{% if app.user and is_granted('ROLE_ADMIN') %}
		<a href="new">Ajouter Circuit</a>
	{% endif %}
	
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Pays </th>
                <th>Ville depart</th>
                <th>Ville Arrivee</th>
                <th>Duree Circuit</th>
                {% if app.user and is_granted('ROLE_ADMIN') %}
                <th>Confirmation</th>
                {% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        
        
        <tbody>
       		 {% for circuit in circuits %}
           {% if circuit.programmations is not empty or is_granted('ROLE_ADMIN')%}
            <tr>
                <td><a href="{{ path('circuit_show', { 'id': circuit.id }) }}">{{ circuit.id }}</a></td>
                <td>{{ circuit.description }}</td>
                <td>{{ circuit.paysDepart }}</td>
                <td>{{ circuit.villeDepart }}</td>
                <td>{{ circuit.villeArrivee }}</td>
                <td>{{ circuit.dureeCircuit }}</td>
                {% if app.user and is_granted('ROLE_ADMIN') %}
                <td>{{ circuit.checkbox }}</td>
                {% endif %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('circuit_show', { 'id': circuit.id }) }}">Détails</a>
                        </li>
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                        <li>                        	
                            <a href="{{ path('admin_circuit_edit', { 'id': circuit.id }) }}" >Modifier</a>
                        </li>
                        <li>
                            <a href="{{ path('delete_id', { 'id': circuit.id }) }}" onclick="return(confirm('Etes-vous sur de vouloir supprimer ce circuit ?'))">Supprimer</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
              
             </tr>
             {%  endif %}
        {% endfor %}
        <p></p>
        </tbody>
    </table>
    
   
    
{% endblock %} {# main #}
